<h1>Hii!</h1>
<h2>COD opted by <%= @order.user.email %>... Details are as follows.</h2>
<table width="100%" style="width:100%;vertical-align:top;">
  <tr>
    <td style="width:100%;">
      <h3 style="text-transform:uppercase;">Order</h3>
      <table width="100%" style="width:100%;vertical-align:top;">
        <tr>
          <td width="15%">Project</td>
          <td width="40%">Description</td>
          <td width="10%">Size</td>
          <td width="15%">Price</td>
          <td width="20%">Note</td>
        </tr>
        <% @order.shopping_cart.shopping_cart_items.each do |item| %>
        <tr>
          <td width="15%">
            <% if item.project.selfie? %>
            <%= cl_image_tag(item.project.selfie.path, size: '240x240', :alt => item.project.title, :crop => :fill, :style => 'width:75px;height:75px;border:2px solid #eaeaea;') %>
            <% else %>
            <%= image_tag(item.project.project_photos.first.image.thumb.url, :alt => item.project.title, :style => 'width:75px;height:75px;border:2px solid #eaeaea;') if item.project.project_photos.first %>
            <% end %>
          </td>
          <td width="40%">
            <h4 style="text-transform:uppercase;font-weight:700;"><%= item.project.title%></h4>
            <h5 style="font-family:'Palatino',san-serif;text-transform:uppercase;"><%= item.project.designer.name %></h5>
          </td>
          <td width="10%" style="text-transform:uppercase;"><%= item.details[:size] %></td>
          <td width="15%">Rs. <%= item.price.to_i %></td>
          <td width="20%"><%= item.details[:message] %></td>
        </tr>
        <tr>
          <td colspan="5" width="100%">
            <hr style="border-color:#eaeaea;border-style:double;">
          </td>
        </tr>
        <% end %>
        <tr>
          <td colspan="2"></td>
          <td><strong>Subtotal</strong></td>
          <td>Rs. <%= @order.shopping_cart.total.to_i %></td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td><strong>Discount</strong></td>
          <td>Rs. <%= @order.discount.to_i %></td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td style="font-size:18px;"><strong>TOTAL</strong></td>
          <td style="font-size:18px;">Rs. <%= @order.amount %></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<h3>Lets get it done!</h3>

<p>Best,</p>
<p>Skynet.</p>